$color-0: #dc143c;
$color-1: #d0cd09;
$color-2: #00d008;

.feed-container {
  display: inline-block;
}

#button {
  float: right;
}

.card {
  width: 300px;
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

p {
  display: inline-block;
  padding: 8px 7px 0 10px;
  margin: 0;
}

.ip {
  color: black;
}

.timestamp {

}

.ball {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 20px 0 10px;
  border-radius: 50%;
  border-style: inset;
  border-width: 1px;
  border-style: inset;
  border-color: black;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}

.ball-red {
  @extend .ball;
  background-color: $color-0;
}

.ball-yellow {
  @extend .ball;
  background-color: $color-1;
}

.ball-green {
  @extend .ball;
  background-color: $color-2;
}

.lon {
}

.lat {
}

